.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background: #4596a7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

body {
    background: url("13.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

p {
    color: rgb(51, 176, 185);
    text-align: center;
}

h1 {
    padding-top: 70px;
    color: rgb(51, 176, 185);
    text-align: center;
}

marquee {
    position: fixed;
    width: 10%;
    height: 100%;
    min-height: 850px;
}

audio {
    padding-left: 280px;
}

.baner-right {
    float: right;
    width: 11%;
    height: 100%;
}

.baner-left {
    float: left;
    width: 11%;
    height: 100%;
}

.baner-top {
    width: 100%;
    height: 6.3%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background: #4596a7;
}

.baner-center {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 70%;
    height: 90%;
    background-color: aliceblue;
    filter: opacity(90%)
}

.dropbtn {
    background-color: #387b96;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4596a7;
    width: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a5bfc9;
}

#animacja {
    width: 448px;
    height: 46px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

#animacja>span {
    display: block;
    float: left;
    width: 24.5px;
    line-height: 24.5px;
    margin: 0 5px;
    border: 3px solid rgb(68, 165, 157);
    background-color: rgb(42, 132, 160);
    color: white;
    border-radius: 6px;
    animation: animowany_tekst 1s linear;
}

#animacja>#A {
    animation-delay: 100ms;
}

@keyframes animowany_tekst {
    100% {
        transform: rotate(360deg);
    }
}